<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav> 
    <a href="/"><button>Home</button></a>
    <a href="/lista/cachorro/"><button>Lista de Cachorros</button></a>
    <a href="/cadastro/cachorro/"><button>Cadastrar Cachorro</button></a>

    </nav>
    {% block body %}
    <h1> Cachorro </h1>
    {% if cachorro %}
    {% for cachorr in cachorro %}
    <h4>  {{ cachorr.nome }} </h4>
    <p>{{ cachorr.raca }}</p>
    <p>{{ cachorr.idade }}</p>
    <p>{{ cachorr.cor }}</p>
    {% endfor %}
    {% endif %}
    {% endblock body %}
</body>
</html>